/build/
/dist/
/RSLogix_generator.spec
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/RSLogix.iml
/.idea/vcs.xml
/*.L5X
/featuretest.py
/.idea/RSLogix_signal_processing.iml
/dist.7z
/testfeatures.py
/import/~$data.xlsx
/import/~$PLC.xlsx
